<!DOCTYPE html>
<html>

<head>
    <title>Nightfall for Ishtar Collective Options</title>

    <link rel="stylesheet" type="text/css" href="/styles/popup.css" />
</head>

<body>
    <h1>Options</h1>

    <form>
        <label>
            Set theme
            <select id="theme">
                <option value="nightfall">Nightfall</option>
                <option value="gambit">Gambit</option>
                <option value="the-darkness">The Darkness</option>
                <option value="off">Off</option>
            </select>
        </label>
    </form>

    <i class="note">Refresh to apply</i>
</body>

<script src="/scripts/options.js"></script>

</html>