<!DOCTYPE html>
<html>

<head>
    <title>Ishtar After Dark</title>

    <link rel="stylesheet" type="text/css" href="/styles/popup.css" />
</head>

<body>
    <header>
        <img src="/images/logo-medium16.png" alt="logo" />
        <h1>Ishtar After Dark</h1>
    </header>

    <form>
        <label>
            Set theme
            <select id="theme">
                <option value="nightfall">Nightfall</option>
                <option value="gambit">Gambit</option>
                <option value="vanguard">Vanguard</option>
                <option value="the-darkness">The Darkness</option>
                <option value="off">Off</option>
            </select>
        </label>
    </form>

    <footer>
        <ul>
            <li><a href="https://github.com/yttrian/ishtar-after-dark" target="_blank" rel="noopener noreferrer">Source Code</a></li>
            <li><a href="https://github.com/yttrian/ishtar-after-dark/blob/master/LICENSE" target="_blank" rel="noopener noreferrer">License</a></li>
            <li><a href="https://github.com/yttrian/ishtar-after-dark/graphs/contributors" target="_blank" rel="noopener noreferrer">Contributors</a></li>
        </ul>  
    </footer>
</body>

<script src="/scripts/options.js"></script>

</html>
