@import url("nightfall.css");

body {
    background-color: #2b3030;
}

a,
body,
.description,
.intro-text,
.carousel .banner a,
.has-banner .header li,
.has-banner .header li a,
.document-browser.shown a,
.document-browser-popup a,
.page-items-index [class*='-thumbnail'] .title,
.page-search .form-group input,
.page-errors .form-group input,
.page-categories-show.has-banner .header-section {
    color: #c4c4c2 !important;
}

.has-banner .header li input {
    filter: brightness(.8);
}

@media (min-width: 50em) {
	.drop-caps:first-letter {
		border-color: #707979;
	}
}

.header-section img,
.body-section img,
.left-column img,
.right-column img {
    filter: grayscale(.1) brightness(.2);
}

.carousel .banner {
    background-blend-mode: unset;
}

.page-credits .staff,
.page-credits .contributor,
.page-credits .supporter,
.page-credits .leader {
    margin-bottom: 10px;
    filter: none;
}

/*   Release DLC images */

.page-releases .thumb.release {
    filter: brightness(.72) grayscale(.2);
    border-top: 2px solid #dcffff;
    border-bottom: 2px solid #dcffff;
}

.page-releases .thumb.release.release-destiny,
.page-releases .thumb.release.release-destiny-2 {
    filter: brightness(1.5);
}

.icon-confidence-1,
.icon-confidence-2,
.icon-confidence-3,
.release-icon,
.discuss .icon-ishtar.commons {
    filter: grayscale(0) brightness(.6);
}


.page-credits .staff,
.page-credits .contributor,
.page-credits .supporter,
.page-credits .leader {
    margin-bottom: 10px;
    filter: grayscale(0.2) brightness(.5);
}