@import url("nightfall.css");

body {
    background-color: #2b3030;
}

a,
body,
.description,
.intro-text,
.carousel .banner a,
.has-banner .header li,
.has-banner .header li a,
.has-banner .header li input,
.header input,
.header input::placeholder,
.has-banner .header li input::placeholder,
.document-browser.shown a,
.document-browser-popup a,
.page-items-index [class*='-thumbnail'] .title,
.page-search .form-group input,
.page-errors .form-group input,
.page-categories-show.has-banner .header-section {
    color: #c4c4c2 !important;
}

.has-banner .header li input {
    filter: brightness(.8);
}

@media (min-width: 50em) {
	.drop-caps:first-letter {
		border-color: #707979;
	}
}

/* super script*/
sup a {
    color: #c4c4c2;
}


.header-section img,
.body-section img,
.left-column img,
.right-column img {
    filter: grayscale(.1) brightness(.2);
}

.carousel .banner {
    background-blend-mode: unset;
}

.page-credits .staff,
.page-credits .contributor,
.page-credits .supporter,
.page-credits .leader {
    margin-bottom: 10px;
    filter: none;
}

/*   Release DLC images */

.page-releases .thumb.release {
    filter: brightness(.72) grayscale(.2);
    border-top: 2px solid #dcffff;
    border-bottom: 2px solid #dcffff;
}

.page-releases .thumb.release.release-destiny,
.page-releases .thumb.release.release-destiny-2 {
    filter: brightness(1.5);
}

.icon-confidence-1,
.icon-confidence-2,
.icon-confidence-3,
.release-icon,
.discuss .icon-ishtar.commons {
    filter: grayscale(0.1) brightness(.8);
}


.page-credits .staff,
.page-credits .contributor,
.page-credits .supporter,
.page-credits .leader {
    margin-bottom: 10px;
    filter: grayscale(0.2) brightness(.5);
}


.search-dark-2eacfab451275811395394869ae579ca78240b1ce0e1efedbe218d82ced35170.png {
    filter: greyscale(0.4) brightness (7) !important;
}



/*Commons Site*/

.nav-pills > li,
.nav-pills > li > a,
.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title,
.category-list .category-name,
.user-main .about .secondary dd,
.stats-section .value,
.groups-boxes .group-box .group-box-inner .group-info-wrapper .group-info span {
    color: #c4c4c2;
}

.large-notification a span:first-child {
    color: #757574;
}

.user-main .about .secondary dt,
.stats-section .label {
    color: #797979;
}

#user-card.show, #group-card.show,
#user-card.no-bg .card-content, #group-card.no-bg .card-content,
#user-card .first-row .names .name-username-wrapper, #group-card .first-row .names .name-username-wrapper,
#user-card h3, #group-card h3,
#user-card .third-row .location-and-website .website-name a, #user-card .third-row .location-and-website .location span,
.select-kit.dropdown-select-box.period-chooser .period-chooser-header h2.selected-name .date-section,
#list-area .top-lists h2 {
    color: #bcbcbc;
    background-color: #383838;
}

tbody {
    border-top: 3px solid #c4c4c2;
}

.table-heading,
.latest-topic-list-item {
    border-bottom: 3px solid #cacbcb;
}

.category-logo.aspect-image img {
    filter: grayscale(.2) brightness(.8);
}

.nav-pills > li a.active,
.list-controls .btn,
.d-header,
.btn[href],
.topic-list .topic-list-item-separator td span,
button.dismiss-read,
.btn,
.controls {
    filter: grayscale(.2) brightness(.8);
}

.topic-list .badge-notification {
    filter: grayscale(.1) brightness(.9);
}

.topic-list .topic-list-item-separator td {
    border-bottom: 2px solid #914f48;
}

.select-kit.combo-box.category-drop .category-drop-header.is-none .selected-name,
.list-controls .select-kit {
    color: #c4c4c2;
}

img.avatar,
.avatar-wrapper {
    filter: grayscale(.2) brightness(.9);
    background: none !important;
}

.user-main .about.has-background .user-profile-image {
    filter: grayscale(.2) brightness(.9);
}


.user-content h2,
.user-stream .excerpt,
.user-stream .title,
.stream-topic-details,
.badge-wrapper.bullet,
.user-stream .time, .user-stream .delete-info, .user-stream .draft-type,
.user-stream .item, .user-stream .user-stream-item,
.user-content .paginated-topics-list,
.user-content .list-actions,
.user-content-wrapper .user-secondary-navigation + .user-content,
.user-main .user-content .admin-controls nav .nav-pills,
.user-content-wrapper .solo-preference, .user-content-wrapper .user-content, .user-content-wrapper .spinner,
#user-card .sixth-row .badge-section .user-badge, #user-card .sixth-row .badge-section .more-user-badges a {
    background-color: #2b3030 !important;
    color: #c4c4c2;
}

.d-editor-preview {
    color: #2b3030 !important;
}

.select-kit.combo-box .select-kit-header,
.select-kit .select-kit-header .selected-name,
.user-main .about.has-background .details {
    background: #2b3030;
}

.badge-card .badge-contents,
.badge-card .badge-contents .badge-info,
.badge-card .badge-contents .badge-link {
    background-color: #2b3030;
    color: #c4c4c2;
}

/*Errata Support*/

.post-box .post-image {
    filter: grayscale(.2) brightness(.8);
    opacity: 0.8 !important;
}

.post-box .post-text h3, .post-box .post-text .description, .post-box .post-text .details {
    color: #c4c4c2;
}




/*Store Page*/

.top-bar a, .site-header a,
.product__title a, .collection__title a,
.site-nav--active a, .site-nav__submenu .site-nav--active a,
.site-nav__link,
.sub-footer a, .site-footer a,
.medium-up--one-third,
h1, .h1,
h2, .h2,
h3, .h3,
small,
.text-link {
    color: #c4c4c2;
}



/* Store Search Bar Zone */
svg:not(:root),
.top-bar .search-bar__input,
.icon,
.breadcrumb-nav a {
    filter: invert(1) !important;
}

hr,
.site-nav__element:first-child {
    border-top: solid #c4c4c2;
}


input, select, textarea,
.collection-sorting__dropdown {
    background-color: #2b3030;
    color: #c4c4c2;
}
