body {
    background-color: #212121;
}

a,
body,
.header.fixed-width h1 a,
.description,
.description.drop-caps,
.page-grimoire_cards-show .intro-text,
.carousel .banner a,
.has-banner .header li,
.has-banner .header li a,
.document-browser.shown a,
.document-browser-popup a,
.page-grimoire_cards-show .description,
.page-items-index [class*='-thumbnail'] .title,
.page-search .form-group input,
.page-errors .form-group input,
.page-categories-show h2,
.page-categories-show .icon-category,
.page-categories-show .icon-chronological, .page-categories-show .icon-timeline, .page-categories-show .icon-featured,
.item-details .item-display-source,
.page-categories-show.has-banner .header-section {
    color: #bcbcbc;
}

.has-banner .header li input {
    filter: brightness(.7);
}

.item-details .item-description {
    color: #bcbcbc;
}

.has-banner .header li input {
    filter: brightness(0.8);
}

.has-banner .header li input:focus,
.has-banner .header li input:valid {
    border-bottom: 1px solid #bcbcbc;
}

/* super script*/
sup a {
    color: #bcbcbc;
}

/* Front Page */
.carousel .slick-arrow:hover {
    opacity: .2;
}

.page-home-index .feature a .image {
    background-color: #352f2f;
    opacity: .5 !important;
}

.title,
.pre-title {
    color: #bcbcbc;
}

.carousel .banner {
    background-color: #6e6e6e !important;
    background-blend-mode: overlay;
    filter: grayscale(.5);
    /*border-bottom-width: .rem;*/
}

.carousel .banner .view-entries a {
    border: 2px solid #c0c0c0;
}

.banner,
.home .banner .full-width {
    filter: grayscale(.3) brightness(.6);
}

.announcements h2 .icon-ishtar {
    filter: brightness(.6);
}

.announcements .announcement-posters {
    filter: grayscale(.1) brightness(.1);
}

.header-background {
    background-color: #101010 !important;
}

/* Lore Book Entries */
.book-icon {
    background: none !important;
}

/* Release Tab Entries */

.header-section img,
.body-section img,
.left-column img,
.right-column img {
    filter: grayscale(.1) brightness(.3);
}

.tabs .tab {
    background-color: #1e2121 !important;
    color: #a0a0a0 !important;
}

.tabs .tab h3,
.tabs .tab a {
    color: #969696 !important;
}

.tabs .tab.selected,
.tabs .tab.selected:hover {
    background-color: #4a4a4a !important;
}

.tabs .tab.selected h3,
.tabs .tab.selected a,
.tabs .tab.selected:hover h3,
.tabs .tab.selected:hover a {
    color: #bdbdbd !important;
}

.document-browser,
.document-browser-popup {
    background-color: #535353;
}

/* Color shading over Entries*/
.color-confidence-0 {
    background-color: #28343d;
    opacity: 0.5 !important;
}

.color-confidence-1 {
    background-color: #2d3a44;
    opacity: 0.5 !important;
}

.color-confidence-2 {
    background-color: #2d4244;
    opacity: 0.5 !important;
}

.color-confidence-3 {
    background-color: #36263d;
    opacity: 0.5 !important;
}


/*For the images on the lore tabs*/
.page-grimoire_cards-show .thumbnail-large {
    filter: grayscale(.2) brightness(.7);
}

.page-items-show .thumbnail-large,
.page-entries-show .image img,
.header-section img, .body-section img, .left-column img, .right-column img {
    filter: grayscale(.2) brightness(.7);
    opacity: 1 !important;
}

[class*='-thumbnail']:hover .overlay {
    opacity: 0.4 !important;
}

[class*='-thumbnail']:hover .title,
[class*='-thumbnail']:hover .icon-confidence {
    color: #797979 !important;
}

/*   Release DLC images */

.page-releases .thumb.release {
    filter: brightness(.8) grayscale(.3);
    border-top: 2px solid #dcffff;
    border-bottom: 2px solid #dcffff;
}


/* Credits Page */

.page-credits .staff img,
.page-credits .contributor img,
.page-credits .supporter img,
.page-credits .leader img {
    margin-bottom: 10px;
    filter: grayscale(.2) brightness(.5);
}

.patreon-widget {
    filter: grayscale(0.2) brightness(.5);
}

.episode-artwork img {
    filter: grayscale(.2) brightness(.6);
}

.icon-confidence-1,
.icon-confidence-2,
.icon-confidence-3,
.release-icon,
.book-icon,
.feature,
.post-box,
.discuss .icon-ishtar.commons {
    filter: grayscale(.4) brightness(.9);
}

.left-column-section {
    color: #bcbcbc;
}

.search-filters ul a {
    filter: invert(.4);
}

.page-search .form-group button,
.page-errors .form-group button {
    background-color: #333333;
    background-blend-mode: soft-light;
}

input,
select,
textarea {
    background: #2b2b2b;
}

.highlight {
    background-color: #ff7d0047;
}

::selection {
    background: rgba(145, 200, 233, 0.47);
}

.multiline-directive {
    background-color: #ebebe40f !important;
}


/* Search Bar Zone */
.form-group,
.has-banner .header li input {
    filter: invert(1) !important;
}


/*Commons Site*/

.nav-pills > li,
.nav-pills > li > a,
.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title,
.category-list .category-name,
.user-main .about .secondary dd,
.stats-section .value,
.groups-boxes .group-box .group-box-inner .group-info-wrapper .group-info span {
    color: #bcbcbc;
}

.user-main .about .secondary dt,
.stats-section .label {
    color: #797979;
}

#user-card.show, #group-card.show,
#user-card.no-bg .card-content, #group-card.no-bg .card-content,
#user-card .first-row .names .name-username-wrapper, #group-card .first-row .names .name-username-wrapper,
#user-card h3, #group-card h3,
#user-card .third-row .location-and-website .website-name a, #user-card .third-row .location-and-website .location span,
.select-kit.dropdown-select-box.period-chooser .period-chooser-header h2.selected-name .date-section,
#list-area .top-lists h2 {
    color: #bcbcbc;
    background-color: #212121;
}

tbody {
    border-top: 3px solid #bcbcbc;
}

.table-heading,
.latest-topic-list-item {
    border-bottom: 3px solid #cacbcb;
}

.category-logo.aspect-image img {
    filter: grayscale(.25) brightness(.7);
}

.nav-pills > li a.active,
.list-controls .btn,
.d-header,
.btn[href],
.topic-list .topic-list-item-separator td span,
button.dismiss-read,
.btn,
.controls {
    filter: grayscale(.2) brightness(.8);
}

.topic-list .badge-notification {
    filter: grayscale(.1) brightness(.9);
}

.topic-list .topic-list-item-separator td {
    border-bottom: 2px solid #914f48;
}

.select-kit.combo-box.category-drop .category-drop-header.is-none .selected-name,
.list-controls .select-kit {
    color: #bcbcbc;
}

img.avatar,
.avatar-wrapper {
    filter: grayscale(.2) brightness(.9);
    background: none !important;
}

.user-main .about.has-background .user-profile-image {
    filter: grayscale(.2) brightness(.9);
}


.user-content h2,
.user-stream .excerpt,
.user-stream .title,
.stream-topic-details,
.badge-wrapper.bullet,
.user-stream .time, .user-stream .delete-info, .user-stream .draft-type,
.user-stream .item, .user-stream .user-stream-item,
.user-content .paginated-topics-list,
.user-content .list-actions,
.user-content-wrapper .user-secondary-navigation + .user-content,
.user-main .user-content .admin-controls nav .nav-pills,
.user-content-wrapper .solo-preference, .user-content-wrapper .user-content, .user-content-wrapper .spinner,
#user-card .sixth-row .badge-section .user-badge, #user-card .sixth-row .badge-section .more-user-badges a {
    background-color: #212121 !important;
    color: #bcbcbc;
}

.d-editor-preview {
    color: #212121 !important;
}

.select-kit.combo-box .select-kit-header,
.select-kit .select-kit-header .selected-name,
.user-main .about.has-background .details {
    background: #212121;
}

.badge-card .badge-contents,
.badge-card .badge-contents .badge-info,
.badge-card .badge-contents .badge-link {
    background-color: #212121;
    color: #bcbcbc;
}

/*Errata Support*/

.post-box .post-image {
    filter: grayscale(.2) brightness(.8);
    opacity: 0.8 !important;
}

.post-box .post-text h3, .post-box .post-text .description, .post-box .post-text .details {
    color: #bcbcbc;
}


/*Store Page*/

.top-bar a, .site-header a,
.product__title a, .collection__title a,
.site-nav--active a, .site-nav__submenu .site-nav--active a,
.site-nav__link,
.sub-footer a, .site-footer a,
.medium-up--one-third,
h1, .h1,
h2, .h2,
h3, .h3,
small,
.text-link {
    color: #bcbcbc;
}


/* Store Search Bar Zone */
svg:not(:root),
.top-bar .search-bar__input,
.icon,
.breadcrumb-nav a {
    filter: invert(1) !important;
}

hr,
.site-nav__element:first-child {
    border-top: solid #bcbcbc;
}


input, select, textarea,
.collection-sorting__dropdown {
    background-color: #212121;
    color: #bcbcbc;
}
