@import url("nightfall.css");

body {
    background-color: #101010;
}

a,
body,
.description,
.intro-text,
.carousel .banner a,
.has-banner .header li,
.has-banner .header li a,
.document-browser.shown a,
.document-browser-popup a,
.page-items-index [class*='-thumbnail'] .title,
.page-search .form-group input,
.page-errors .form-group input,
.page-categories-show.has-banner .header-section {
    color: #bdbebe;
}


.has-banner .header li input {
    filter: brightness(.5);
}

.title,
.pre-title {
    color: #bdbebe;
}

.item-details .item-description {
    color: #bdbebe;
}

.announcements .announcement-posters {
    filter: grayscale(1);
}

.page-categories-show .left-column {
    color: grey;
}

.color-confidence-0 {
    background-color: #352f2f;
    opacity: .2 !important;
}

.color-confidence-1 {
    background-color: #171d22;
}

.color-confidence-2 {
    background-color: #1e2a2b;
}

.color-confidence-3 {
    background-color: #21312c;
}

.page-releases .thumb.release {
    filter: brightness(.4) grayscale(.2);
}

.document-browser,
.document-browser-popup {
    background-color: #212121;
}

.icon-confidence-1,
.icon-confidence-2,
.icon-confidence-3,
.release-icon {
    filter: grayscale(.4) brightness(.9);
}

.left-column-section {
    color: #363D3D;
}


.tabs .tab {
    background-color: #1e2121 !important;
    color: #a0a0a0 !important;
} 

.tabs .tab h3,
.tabs .tab a {
    color: #5a5a5a !important;
}

.tabs .tab.selected,
.tabs .tab.selected:hover {
    background-color: #3b3b3b !important;
}

.tabs .tab.selected h3,
.tabs .tab.selected a,
.tabs .tab.selected:hover h3,
.tabs .tab.selected:hover a {
    color: #848484 !important;
}
